.wrapper {
    padding: 0rem 2rem 2rem 2.5rem;
}

.modalsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
    column-gap: 4rem;
}

.divider {
    font-size: 36.72px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    padding: 1rem;
    text-align: center;
}