.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.inputBox {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid gray;
}

.warningText {
    color: var(--color-red);
    opacity: 0.9;
    font-size: small;
}

.createButton {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}