.wrapper {
  padding: 0rem 2rem 0rem 2.5rem;
}

.tabWrapper {
  width: 100%;
}

.tabs {
  display: flex;
  border-bottom: 4px solid rgba(218, 218, 218, 1);
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  top: 4px;
}

.tab.active {
  color: var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
}

.tabContent {
  display: none;
  padding: 2rem 0rem;
}

.tabContent.active {
  display: block;
}

.inputBox {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 8px;
}

label {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
  display: block;
}

p {
  font-size: 16px;
  color: rgba(100, 100, 100, 1);
  padding: 5px 0rem 1.25rem 0rem;
}

.displayGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}

.primaryColorPicker {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.colorPicker {
  background: none;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 12px;
  height: 2.75rem;
  width: 3rem;
  border: none;
}

.showSourcesWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkBoxInput {
  transform: scale(3);
  margin-right: 1rem;
}

.selector {
  width: 100%;
  padding: 14px;
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 8px;
}

.uploadBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.botIconPreview {
  width: 5rem;
  height: 5rem;
  background-color: #e0e0e0;
  border-radius: 50%;
}

.uploadButton {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 18px;
}